/ Header
%header.masthead
  .container
    .intro-text
      .intro-lead-in Entendiado(a), procurando algo mais?
      .intro-heading.text-uppercase Já chegou a solução
      %a.btn.btn-secondary.btn-xl.text-uppercase.js-scroll-trigger{href: "#services"} Saber mais...
/ Portfolio Grid
%section#portfolio.bg-light.page-section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase Perfils
        %h3.section-subheading.text-muted Uma lista de filmes personalizada para cada Perfil, assim gaste menos tempo escolhendo o que gostaria de assistir.
    .row
      - @profiles.each_with_index do |profile, index|
        .col-md-6.portfolio-item
          = link_to "##{profile.slug}", class: 'portfolio-link', data: {toggle: 'modal'} do
            .portfolio-hover
              .portfolio-hover-content
                %i.fas.fa-plus.fa-3x
            %img.img-fluid= image_tag "profile-image-#{index}.png", class: 'img-fluid'
          .portfolio-caption
            %h4= profile.name
/ Contact
%section#contact.page-section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase Meus dados
    .row
      .col-lg-12
        %form#contactForm{name: "sentMessage", novalidate: "novalidate"}
          .row
            .col-md-6
              .form-group
                %input#name.form-control{"data-validation-required-message" => "Please enter your name.", placeholder: "Nome *", required: "required", type: "text"}/
                %p.help-block.text-danger
              .form-group
                %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", placeholder: "Seu email *", required: "required", type: "email"}/
                %p.help-block.text-danger
              .form-group
                %input#birthday.form-control{"data-validation-required-message" => "Please enter your email address.", placeholder: "Data de Nascimento *", required: "required", type: "date"}/
                %p.help-block.text-danger
            .col-md-6
              .form-group
                %input#password.form-control{"data-validation-required-message" => "Please enter your phone number.", placeholder: "Sua senha *", required: "required", type: "password"}/
                %p.help-block.text-danger
              .form-group
                %input#password_confirmation.form-control{"data-validation-required-message" => "Please enter your phone number.", placeholder: "Confirme sua senha *", required: "required", type: "password"}/
                %p.help-block.text-danger
              .form-group
                %input#current_password.form-control{"data-validation-required-message" => "Please enter your phone number.", placeholder: "Senha atual *", required: "required", type: "password"}/
                %p.help-block.text-danger
            .clearfix
            .col-lg-12.text-center
              #success
              %button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase{type: "submit"} Atualizar
/ Services
%section#services.page-section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase Categorias
        %p.text-muted Cada Perfil terá sugestões de Filmes a partir das Categorias adicionadas a ele.
        %p.text-muted Escolha um dos Perfis e clique em Adicionar, assim os Filmes e Sugestões estarão no Perfil escolhido.
    %div#genres_list.row.text-center
      - @genres['genres'].each do |genre|
        .col-md-4.mb-10
          %h4.service-heading=genre['name']
          %p
            %select.form-control{url: "#{add_profile_genre_path(genre['id'])}"}
              %option Escolha um Perfil para esta Categoria
              - @profiles.each do |profile|
                =content_tag :option, "Adicionar ao perfil: #{profile.name}", value: profile.slug

/ About
%section#about.page-section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase Lançamentos
        %h3.section-subheading.text-muted Lançamentos, novidades e sugestões para você assistir
    .row
      .col-lg-12
        %ul.timeline
          - @popular_movies.each_with_index do |movie, index|
            %li{class: "#{'timeline-inverted' if index.odd?}"}
              .timeline-image
                %img.img-fluid.rounded-circle.poster-image-size{src: "#{poster_image_url(movie.poster_path)}"}/
              .timeline-panel
                .timeline-heading
                  %h4=movie.release_date
                  %h4.subheading=movie.title
                .timeline-body
                  %p.text-muted{"data-toggle" => "tooltip", "title" => "#{movie.overview}"}= truncate(movie.overview, length: 100)

/ Team
%section#team.bg-light.page-section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.text-uppercase Mais votados
        %h3.section-subheading.text-muted As sugestões que tem melhores votos pelos usuários
    .row
      .col-sm-4
        .team-member
          = image_tag "team/1.jpg", class: "mx-auto rounded-circle"
          %h4 Kay Garland
          %p.text-muted Lead Designer
          %ul.list-inline.social-buttons
            %li.list-inline-item
              %a{href: "#"}
                %i.fab.fa-twitter
            %li.list-inline-item
              %a{href: "#"}
                %i.fab.fa-facebook-f
            %li.list-inline-item
              %a{href: "#"}
                %i.fab.fa-linkedin-in
      .col-sm-4
        .team-member
          = image_tag "team/2.jpg", class: "mx-auto rounded-circle"
          %h4 Larry Parker
          %p.text-muted Lead Marketer
          %ul.list-inline.social-buttons
            %li.list-inline-item
              %a{href: "#"}
                %i.fab.fa-twitter
            %li.list-inline-item
              %a{href: "#"}
                %i.fab.fa-facebook-f
            %li.list-inline-item
              %a{href: "#"}
                %i.fab.fa-linkedin-in
      .col-sm-4
        .team-member
          = image_tag "team/3.jpg", class: "mx-auto rounded-circle"
          %h4 Diana Pertersen
          %p.text-muted Lead Developer
          %ul.list-inline.social-buttons
            %li.list-inline-item
              %a{href: "#"}
                %i.fab.fa-twitter
            %li.list-inline-item
              %a{href: "#"}
                %i.fab.fa-facebook-f
            %li.list-inline-item
              %a{href: "#"}
                %i.fab.fa-linkedin-in
    .row
      .col-lg-8.mx-auto.text-center
        %p.large.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
/ Footer
%footer.footer
  .container
    .row.align-items-center
      .col-md-12
        %span.copyright Copyright © Jera Flix 2019

/ Portfolio Modals

- @profiles.each_with_index do |profile, index|
  .portfolio-modal.modal.fade{"aria-hidden" => "true", id: "#{profile.slug}", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-12
              .modal-body
                /
                  Project Details Go Here
                %h2.text-uppercase= profile.name
                %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                = image_tag "profile-image-#{index}.png", class: 'mx-auto img-fluid d-block'
                %p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                %ul.list-inline
                  %li Date: January 2017
                  %li Client: Threads
                  %li Category: Illustration
                %button.btn.btn-primary{"data-dismiss" => "modal", type: "button"}
                  %i.fas.fa-times
                  Fechar