!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Jera Flix
    / Bootstrap core CSS
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    / Custom fonts for this template
    %link{href: "https://fonts.googleapis.com/css?family=Montserrat:400,700", rel: "stylesheet", type: "text/css"}/
    %link{href: "https://fonts.googleapis.com/css?family=Kaushan+Script", rel: "stylesheet", type: "text/css"}/
    %link{href: "https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic", rel: "stylesheet", type: "text/css"}/
    %link{href: "https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700", rel: "stylesheet", type: "text/css"}/
    / Custom styles for this template
  %body#page-top
    / Navigation
    %nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
      .container
        %a.navbar-brand.js-scroll-trigger{href: "#page-top"} Jera Flix
        %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", type: "button"}
          Menu
          %i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          %ul.navbar-nav.text-uppercase.ml-auto
            
            %li.nav-item
              %a.nav-link.js-scroll-trigger{href: "#portfolio"} Perfils
            %li.nav-item
              %a.nav-link.js-scroll-trigger{href: "#services"} Categorias
            %li.nav-item
              %a.nav-link.js-scroll-trigger{href: "#about"} Lançamentos
            %li.nav-item
              %a.nav-link.js-scroll-trigger{href: "#contact"} Meus dados
            %li.nav-item
              = text_field_tag :q,'', placeholder: 'buscar por...', class: 'nav-link js-scroll-trigger search-at-top'
    = yield